body {
  background-color: #16261F;
}

.logo_background_color {
  background-color: #16261F;
}

.logo_font_color {
  background-color: #D9AF62;
}

.nav_link {
  color: #D9AF62;
  padding: 0.5rem 1rem;
  display: block;
}

.nav_link:hover {
  color: #F2D680;
  text-decoration: none;
}
