.logo_background_color {
  background-color: #003326;
}

.logo_font_color {
  background-color: #b37700;
}

.nav_link {
  color: #b37700;
  padding: 0.5rem 1rem;
  display: block;
}

.nav_link:hover {
  color: #e4a425;
  text-decoration: none;
}
