
$backgroundcolor_of_logo: #ffffff;
$color_of_font_in_logo: #313940;
$color_of_font_in_logo_lighter: #bf947a;

body{
    background-color: $backgroundcolor_of_logo;
}
.logo_background_color{
    background-color : $backgroundcolor_of_logo;
}
.logo_font_color{
    background-color: $color_of_font_in_logo;
}

.nav_link{
    color: $color_of_font_in_logo;
    padding: .5rem 1rem; 
    display: block;
}
.nav_link:hover{
    color: $color_of_font_in_logo_lighter;
    text-decoration: none;
}
