body {
  background-color: #ffffff;
}

.logo_background_color {
  background-color: #ffffff;
}

.logo_font_color {
  background-color: #313940;
}

.nav_link {
  color: #313940;
  padding: 0.5rem 1rem;
  display: block;
}

.nav_link:hover {
  color: #bf947a;
  text-decoration: none;
}

.btn-link {
  color: #313940;
  padding: 0.5rem 1rem;
  display: block;
}

.btn-link:hover {
  color: #bf947a;
  text-decoration: none;
}
